* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #000;
$mainGreen: #82b340;
$mainGrey: #ececec;
$mainWhite: #ffffff;

body {
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Open Sans', sans-serif;
}